---
import ModelCard from "../cards/ModelCard.astro";
import CloudinaryImage from "../CloudinaryImage/CloudinaryImage.astro";
import GradiantText from "../shared/GradiantText.astro";
import Title from "../shared/Title.astro";

interface Props {
  images: any[];
  className?: string;
}

const { images} = Astro.props;
---

<div class={`container mx-auto px-4`}>
  <div class="text-center max-w-3xl mx-auto">
    <Title>
      Test de <GradiantText> Gallery</GradiantText>
    </Title>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {images.map((modelo) => <ModelCard modelo={modelo} />)}
  </div>
  <div class="flex justify-center mt-4">
    <a
      href="/catalogo"
      class="inline-block px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors"
    >
      Ver Catálogo Completo
    </a>
  </div>
</div>
